*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
}

ul {
list-style-type: none;
padding-top: 2%;
margin-right: 3rem;

}
li{
display: inline;
padding: 10px;
font-size: 20px;
}
#nav-color{
  color: #00D7FF;
}
#nav-color:hover{
  color:#FC00FF  ;
}
#logo-color{
  color: #37517e;
}
#logo-color:hover{
  color:#B70FFD ;
}

.logo{
    margin-left:5rem;
    margin-top: 2rem;
}
nav a{
    font-size: 20px;
}


#headline{
    font-size: 65px;
    color: #191919;
    padding-top:20% ;
    margin-bottom: 5%;
}
#pragarph{
    font-size: 50px;
    color: #191919;
}
#google-btn{
    border-radius: 35px;
    margin-top: 5%;
    margin-right: 3%;
    
}
#apple-btn{
    border-radius: 35px;
    margin-top: 5%;

}
#img{
    margin-left: 10%;
}
img.vert-move {
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
}

@-webkit-keyframes mover {
    0% { transform: translateY(10); }
    100% { transform: translateY(-40px); }
}

#multi{
    background-image: url(/images/blobanimation.svg);
}
#DES{
    color: black;
}
#des{
    text-align: center;
}
.content{
    font-size: 20px;
}
#services{
    background-color: #0000005b;
    
}
.section-title{
    text-align: center;
    font-size: 20px;
    line-height: 30px;
}


.services .icon-box {
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.2);
    padding: 50px 30px;
    transition: all ease-in-out 0.4s;
    background-color: #f4f4f27d;

    margin-bottom: 50px;
  }
  
  .services .icon-box .icon {
    margin-bottom: 10px;
  }
  
  
  
  .services .icon-box h4 {
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 24px;
  }
  
  .services .icon-box h4 a {
    color: #37517e;
    transition: ease-in-out 0.3s;
  }
  
  .services .icon-box p {
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 0;
  }
  
  .services .icon-box:hover {
    transform: translateY(-10px);
  }
  
  .services .icon-box:hover h4 a {
    color: #47b2e4;
  }
  #TEAM{
    text-align: center;
  }
  .teamBox{
    border-image: linear-gradient(#00D7FF, #0096FF) 30;
border-width: 10px;
border-style: solid;
    padding: 10px;
    height: auto;
    background-color: #4721834d;
  }
  .teamimg{
    height: 250px;
    width: 250px;
    display: block;
    border-radius: 200px;
    box-sizing: border-box;
    border-image: linear-gradient(#00D7FF, #0096FF) 30;
    border: 10px solid #00D7FF;
  }
  #joo{
    margin-left: 20px;
  }
  .zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  .vl {
    border-left: 1px solid #fff;
    height: 70%;
    margin-left:10px ;
    margin-right: 10px;
  }
  .teamInfo{
    font-size: 25px;
  }
  .teamInfo h4 {
    color: #00D7FF;
  }

  .fot{
    background-color: #4068ad;  
  }
  .footer-links li a{
    color: #fff;
    display: inline;
    padding-left: 3px;
    text-decoration: none;
  }
  .footer-links li a:hover{
    color: #209dd8;
  }
  .footer-links ul {
    padding: 0px;
  }
  .fa-chevron-right{
    color: #209dd8;
  }
  .fa-brands{
    color: #209dd8;
    padding: 10px 10px;
  }
  .fa-brands:hover{
    color: #4b86ec ;
  }
  .fon h3,h4{
    color: #4b86ec;
  }